*,
*::after,
*::before {
  box-sizing: border-box;
}
.body {
  background-image: url(./img/background1.png);
  background-size: cover;
  padding-left: 165px;
  padding-right: 176px;
  padding-bottom: 15px;
  padding-top: 46px;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1030px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 25px;
  margin-bottom: 20px;
}
.header__logo-link {
  text-decoration: none;
  color: #ffffff;
  grid-area: 1 / 1 / 3 / 2;
}

.header__logo-text {
  display: inline-block;
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
  margin: 0;
}
.header__logo-holidays {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
.header__logoorange-img {
  display: none;
}

.header__logo-link:hover .header__logo-text {
  color: #f26522;
}

.header__logo-link:hover .header__logo-holidays {
  color: #f26522;
}
.header__logo-link:hover .header__logo-img {
  display: none;
}
.header__logo-link:hover .header__logoorange-img {
  display: inline-block;
}
.mail-link {
  justify-self: end;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
}
.mail-link:hover {
  color: #f26522;
}
.phone-link {
  grid-area: 2 / 2 / 3 / 3;
  justify-self: end;
  align-self: end;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
}
.phone-link:hover {
  color: #f26522;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  row-gap: 37px;
  column-gap: 61px;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
.main-item:hover .details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f26522;
  color: #ffffff;
  padding: 7px 14px 12px 16px;
  width: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.main__link {
  text-decoration: none;
  position: relative;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f26522;
  color: #ffffff;
  padding: 7px 14px 12px 16px;
  row-gap: 8px;
  width: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}
.from {
  margin: 0;
  font-size: 10px;
  line-height: 10px;
}
.price {
  grid-area: 2 / 1 / 3 / 2;
  margin: 0;
  font-size: 20px;
  line-height: 20px;
}
.viewdetails {
  grid-area: 2 / 2 / 3 / 3;
  justify-self: end;
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  justify-self: end;
  align-self: end;
}
.viewdetails::after {
  background-image: url(./img/Vector.svg);
  background-size: 5px;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  width: 5px;
  height: 10px;
  display: inline-block;
  margin-left: 16px;
}

.main__text {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
}
.main-item:hover .main__text {
  color: #f26522;
}

.footer {
  margin-top: 49px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  text-align: center;
}
